<!DOCTYPE html>
<html lang="en">
<head>
    <title>Classroom App: Remove Student from Class</title>
		<script src="../static/js/jquery-3.2.1.min.js"></script>
    <link href="../static/style/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style/style.css" rel="stylesheet">
	<script>
	$(function() {
        $('#btnUnenroll').click(function() {
            $.ajax({
                url: '/unenroll',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
	</script>
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <a class="btn btn-lg btn-success" href="/" role="button">Home</a>
                    <a class="btn btn-lg btn-success" href="../logout" role="button">Log Out</a>
                    <a class="btn btn-lg btn-success" href="../students" role="button">Back</a>
                </ul>
            </nav>
        </div>
            
        <!-- Toolbar -->
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="../overview">Overview</a></li>
            <li role="presentation" class="active"><a href="../students">Students</a></li>
            <li role="presentation" class="active"><a href="../classes">Classes</a></li>
            <li role="presentation" class="active"><a href="../assignments">Assignments</a></li>
            <li role="presentation" class="active"><a href="../teachers">Teachers</a></li>
            <li role="presentation" class="active"><a href="../profile">Profile</a></li>
        </ul>
    </div>
 
        <div class="jumbotron">
            <p class="lead">
                <h2>Remove Student from Class</h2>
                Enter a student and a class' IDs to remove that student from that class. <br>
                Removal will be unsuccessful if either the student ID or class ID do not exist. <br>
                You can view all student IDs <a href="../students">here</a> and all class IDs <a href="../classes">here</a>. <br>
                You can view which students are enrolled in which classes <a href="../overview">here</a>.
            </p>
            <form class="form-signin">
                <label for="inputStudent" class="sr-only">Student ID</label>
                <input type="name" name="inputStudent" id="inputStudent" class="form-control" placeholder="Student ID" required autofocus>

                <label for="inputClass" class="sr-only">Class ID</label>
                <input type="name" name="inputClass" id="inputClas" class="form-control" placeholder="Class ID" style="margin-bottom: 10px" required>
                
                <button id="btnUnenroll" class="btn btn-lg btn-primary btn-block" type="button">Remove Student from Class</button>
            </form>             
        </div>
</body>
</html>